In [1]:
print ('Hello world')

Hello world

In [4]:
a=98 
b=56
print (a+b)

154

In [2]:
import numpy as np

In [3]:
L= [1,2,3]

In [7]:
A= np.array([1,2,3])

In [8]:
for i in A:
    print(i)

1
2
3

In [10]:
for i in L:
    print (i)

1
2
3

In [20]:
a="*"
for i in range(0,2):
    for j in range(0,2):
        print ("*")
        print ('\n')

*


*


*


*

In [48]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
c=0
max=numbers.index(237)
for n in numbers:
    c+=1
    if(n%2==0 and c<max):
        print(n)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
237